<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sudi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--=========================== CSS------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
    <link href="./assets/favicon.ico" rel="icon">
    <link href="./main.3f6952e4.css" rel="stylesheet">
</head>
</head>
<body>
    <!-- start header Area -->
    <partial name="_header">
        <!-- end header Area -->
        <!-- start banner Area -->
        <partial name="_homeBanner">
            <!-- End banner Area -->
            @RenderBody()
            <!-- Start Footer Area -->
            <partial name="_footer">
                <!-- End Footer Area -->
                <script src="~/template/app/js/vendor/jquery-2.2.4.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                        crossorigin="anonymous"></script>
                <script src="~/template/app/js/tilt.jquery.min.js"></script>
                <script src="~/template/app/js/vendor/bootstrap.min.js"></script>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
                <script src="~/template/app/js/easing.min.js"></script>
                <script src="~/template/app/js/hoverIntent.js"></script>
                <script src="~/template/app/js/superfish.min.js"></script>
                <script src="~/template/app/js/jquery.ajaxchimp.min.js"></script>
                <script src="~/template/app/js/jquery.magnific-popup.min.js"></script>
                <script src="~/template/app/js/owl.carousel.min.js"></script>
                <script src="~/template/app/js/owl-carousel-thumb.min.js"></script>
                <script src="~/template/app/js/hexagons.min.js"></script>
                <script src="~/template/app/js/jquery.nice-select.min.js"></script>
                <script src="~/template/app/js/waypoints.min.js"></script>
                <script src="~/template/app/js/mail-script.js"></script>
                <script src="~/template/app/js/main.js"></script>
</body>
</html>